.itemCount{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px;

    button{
        width: 30px;
        height: 30px;
        background-color: #2563eb;
        border-radius: 30%;

        &:disabled{
            background-color: #2564eb5d;
            color: rgba(255, 255, 255, 0.307);
            cursor: not-allowed;
          }
    }

    p{
        width: 30px;
        border-radius: 5px;
        height: 30px;
        background-color: #2563eb;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
  

  
  