.itemDetail{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    border: 1px solid red;
}

.itemDetail_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid green;
    padding: 20px;
    ul{
        li{
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
}